In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('/Users/pav/Documents/module_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
465,tt1226753,20000000,45636368,The Debt,Helen Mirren|Sam Worthington|Jessica Chastain|...,John Madden,The secret is only the beginning,Rachel Singer is a former Mossad agent who tri...,113,Drama|Thriller,Miramax Films|Marv Films|Pioneer Pictures,4/11/2010,6.1,2010
327,tt0976238,35000000,92219310,Old Dogs,Robin Williams|John Travolta|Seth Green|Justin...,Walt Becker,Life is Not Child-Proof.,Charlie and Dan have been best friends and bus...,88,Comedy|Family,Walt Disney Pictures|Tapestry Films,11/24/2009,5.2,2009
406,tt1279935,55000000,152263880,Date Night,Steve Carell|Tina Fey|Mark Wahlberg|Taraji P. ...,Shawn Levy,One ordinary couple. One little white lie.,The mild-mannered married couple Phil and Clai...,97,Comedy,Twentieth Century Fox Film Corporation|Dune En...,4/8/2010,5.9,2010
819,tt1033575,20000000,177243185,The Descendants,George Clooney|Shailene Woodley|Amara Miller|N...,Alexander Payne,The South Pacific ain't that terrific.,With his wife Elizabeth on life support after ...,115,Comedy|Drama,Fox Searchlight Pictures|Dune Entertainment|Ad...,9/9/2011,6.6,2011
1533,tt0408985,45000000,38399961,Last Holiday,Queen Latifah|LL Cool J|Timothy Hutton|Giancar...,Wayne Wang,She always thought she was somebody special......,"After she's diagnosed with a terminal illness,...",112,Adventure|Comedy|Drama,Paramount Pictures,1/13/2006,6.4,2006

In [0]:
data.describe()

# Предобработка

In [9]:
answers = {} 

# создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
answers['1']='Pirates of the Caribbean: On Stranger Tides' "+"

In [0]:

grouped_df = data.groupby(['original_title'])['budget'].sum().sort_values(ascending=False)
print(grouped_df.head(3))

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2']='Gods and Generals' "+"

In [11]:
grouped_df = data.groupby(['original_title'])['runtime'].sum().sort_values(ascending=False)
print(grouped_df.head(5))

original_title
The Gift                                         219
Gods and Generals                                214
Fantastic Four                                   206
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
Name: runtime, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
#
answers['3']="Winnie the Pooh" "+"

In [10]:
grouped_df = data.groupby(['original_title'])['runtime'].sum().sort_values(ascending=True)
print(grouped_df.head(5))

original_title
Winnie the Pooh         63
The Jungle Book 2       72
Return to Never Land    72
Valiant                 76
Home on the Range       76
Name: runtime, dtype: int64

# 4. Какова средняя длительность фильмов?

In [13]:
#
answers['4']="110" "+"

In [12]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [14]:
#
answers['5']="107" "+"

In [9]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
#
answers['6']="Avatar" "+"

In [5]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
grouped_df = data.groupby(['original_title'])['profit'].sum().sort_values(ascending=False)
print(grouped_df.head(5))

original_title
Avatar                          2544505847
Star Wars: The Force Awakens    1868178225
Jurassic World                  1363528810
Furious 7                       1316249360
The Avengers                    1299557910
Name: profit, dtype: int64

# 7. Какой фильм самый убыточный?

In [16]:
#
answers['7']="The Lone Ranger" "+"

In [13]:
grouped_df = data.groupby(['original_title'])['profit'].sum().sort_values(ascending=True)
print(grouped_df.head(5))

original_title
The Lone Ranger                -165710090
The Alamo                      -119180039
Mars Needs Moms                -111007242
The Adventures of Pluto Nash    -92896027
Flushed Away                    -84540684
Name: profit, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
#
answers['8']="1478"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
#
answers['9']="The Dark Knight" "+"

In [37]:
data[data['release_year'] == 2008].query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
#
answers['10']="The Lone Ranger" "+"

In [15]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [20]:
#
answers['11']="Drama" "+"

In [16]:
data.genres = data.genres.str.split('|')
data = data.explode('genres')
data["genres"].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
#
answers['12']="Drama" "+"

In [17]:
data[data.profit>0].genres.str.split('|').explode().mode()[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
#
answers['13']="Peter Jackson" "+"

In [18]:
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[data.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False).head(5)

Peter Jackson        17464735681
Christopher Nolan    16196885522
David Yates          13401099613
J.J. Abrams          12805687973
Michael Bay          12370445156
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
#
answers['14']="Robert Rodriguez" "+"

In [19]:
data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
#
answers['15']="Chris Hemsworth" "+"

In [22]:
cols = ['cast', 'revenue', 'original_title']
df = data.query('release_year == 2012')[cols].copy()
# Группируем по актёрам и по кассовым сборам фильмов с их участием:
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df = df.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue', ascending=False)
# Оформляем результат в текстовой форме:
name, money = df.revenue.idxmax(), df.revenue.max()
print(f'Самые высокие кассовые сборы в 2012 году принесли фильмы с актёром {name}.')
print(f'Сумма сборов составила {round(money/1e6, 1)} млн. долларов.')

Самые высокие кассовые сборы в 2012 году принесли фильмы с актёром Chris Hemsworth.
Сумма сборов составила 6060.7 млн. долларов.

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
#
answers['16']="Matt Damon" "+"

In [ ]:
data[data.budget>data.budget.mean()].cast.str.split('|').explode('cast').value_counts().idxmax()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
#
answers['17']="Action" "+"

In [21]:
data_tmp = data[data.cast.str.contains("Nicolas Cage")]
cage_genres=data_tmp['genres'].str.cat(sep='|')
cage_genres=pd.Series(cage_genres.split('|')) 
cage_genres=cage_genres.value_counts(ascending=False) 
cage_genres

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [27]:
#
answers['18']="K-19: The Widowmaker"

In [13]:
data[data['production_companies'] == 'Paramount Pictures'][['original_title','profit']].sort_values('profit')

                    original_title     profit
587           Domestic Disturbance  -20750706
436                    The Fighter  -15809131
961                   Serving Sara  -12069815
1533                  Last Holiday   -6600039
1429                Bad News Bears    4252847
896             Star Trek: Nemesis    7312826
924                 Changing Lanes   49935764
911             Jackass: The Movie   59282312
1518            Jackass Number Two   61778712
1104            The School of Rock   96282949
1571                    Mean Girls  112042871
1026                  The Dictator  114379533
1117  How to Lose a Guy in 10 Days  127371441
335                  Up in the Air  138670000

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [28]:
#
answers['19']="2015" "+"

In [6]:
grouped_data = data.groupby(['revenue', 'release_year']).sum()
display(grouped_data)
data.groupby(['release_year'])[['revenue']].mean()
data.groupby(['release_year'])[['revenue']].mean().sort_values(['revenue'],ascending=False).head(10)

                            budget  runtime  vote_average      profit
revenue    release_year
2033165    2008            8000000      111           5.1    -5966835
2054941    2013           25000000      105           5.6   -22945059
2062066    2002            7000000      104           5.9    -4937934
2106557    2012           35000000       96           5.1   -32893443
2281089    2006           16800000      122           6.3   -14518911
...                            ...      ...           ...         ...
1506249360 2015          190000000      137           7.3  1316249360
1513528810 2015          150000000      124           6.5  1363528810
1519557910 2012          220000000      143           7.3  1299557910
2068178225 2015          200000000      136           7.5  1868178225
2781505847 2009          237000000      162           7.1  2544505847

[1887 rows x 4 columns]

                   revenue
release_year
2015          2.156712e+08
2012          2.079189e+08
2014          1.934369e+08
2013          1.719541e+08
2010          1.672318e+08
2011          1.585790e+08
2009          1.546702e+08
2008          1.508494e+08
2003          1.494388e+08
2004          1.437012e+08

# 20. Какой самый прибыльный год для студии Warner Bros?

In [38]:
answers['20']="2014"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
#
answers['21']="September" "+"

In [11]:
data = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'])
data[data.release_date.dt.month.isin([9])].value_counts().sum()

227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
#
answers['22']="450" "+"

In [10]:
data = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'])
data[data.release_date.dt.month.isin([6, 7, 8])].value_counts().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
#
answers['23']="Peter Jackson" "+"

In [24]:
data = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'])
data[data.release_date.dt.month.isin([12, 1, 2,])].director.str.split('|').explode('director').value_counts()

Peter Jackson        18
Steven Soderbergh    14
Clint Eastwood       13
Edward Zwick         11
Adam Shankman        11
                     ..
Rodrigo GarcÃ­a       1
Andy Fickman          1
James Gunn            1
Nick Hurran           1
Andy Muschietti       1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
#
answers['24']="Four By Two Productions" "+"

In [23]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique() # получим список уникальных названий компаний
sum_gen = pd.Series(dtype='float64', index=companies) # создадим серию для хранения средних значений
# по всему датафрейму для каждой из компаний вычислим среднее значение для всех названий фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
# получим топ-5
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
#
answers['25']="Midnight Picture Show" "+"

In [32]:
data99 = data.copy()
data99['overview_length'] = data99['overview'].str.split(' ').str.len()
data99.production_companies = data99.production_companies.str.split('|')
data99 = data99.explode('production_companies')
data99.groupby('production_companies')['overview_length'].mean().sort_values(
    ascending=False)
data99.groupby('production_companies')['overview_length'].mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
#
answers['26']="Inside Out, The Dark Knight, 12 Years a Slave" "+"

In [31]:
data = data.copy()
procent_99 = np.percentile(data.vote_average, 99)
# Записываем в переменную оценку равную 99% от средней
data[data.vote_average >= procent_99].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
#
answers['27']="Daniel Radcliffe & Rupert Grint" "+"

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides+',
 '2': 'Gods and Generals+',
 '3': 'Winnie the Pooh+',
 '4': '110+',
 '5': '107+',
 '6': 'Avatar+',
 '7': 'The Lone Ranger+',
 '8': '1478',
 '9': 'The Dark Knight+',
 '10': 'The Lone Ranger+',
 '11': 'Drama+',
 '12': 'Drama+',
 '13': 'Peter Jackson+',
 '14': 'Robert Rodriguez+',
 '15': 'Chris Hemsworth+',
 '16': 'Matt Damon+',
 '17': 'Action+',
 '18': 'K-19: The Widowmaker',
 '19': '2015+',
 '21': 'September+',
 '22': '450+',
 '23': 'Peter Jackson+',
 '24': 'Four By Two Productions+',
 '25': 'Midnight Picture Show+',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave+',
 '27': 'Daniel Radcliffe & Rupert Grint+',
 '20': '2014'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27